notebook.ipynb
.vscode/launch.json
.vscode/settings.json
__pycache__/
log/log.tsv
output/

app/python3 -m http.server
app/.vscode/settings.json
app/commdef.json
app/commdef.js
app/Pāḷi Definitions Search.html
app/Pāḷi Definitions Search.html.zip
app/translation_app.html
